<!doctype html>
<html lang="en">

<head>

<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

<style>
.ui-link, .ui-btn, .ui-shadow, .ui-corner-all {
  padding-right: 0px;
  padding-top: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
 }
.ui-bar-a, .ui-page-theme-a .ui-bar-inherit, html .ui-bar-a .ui-bar-inherit, html .ui-body-a .ui-bar-inherit, html body .ui-group-theme-a .ui-bar-inherit {
  background-color: #155e7a;
}
.ui-header .ui-title, .ui-footer {
  color :#ffffff;
  font-size : 1em;
  font-style: italic;
}



.ui-mobile a img, .ui-mobile fieldset > img{
    height: auto;
    width: 5em;
}

.fixooter ,.ui-footer ,.ui-bar-inherit ,.ui-footer-fixed slideup{
    width: 100%;
    height: auto;
    padding-top: 4px;

}
.ui-link, .ui-btn ,.ui-shadow ,.ui-corner-all{
  background-color: transparent;

}



</style>

</head>


<body class="add-product">

  <div data-role="header" data-position="fixed" data-fullscreen="true" class="header">
    <h1> squall </h1>
  </div>


  <div style="container;margin-bottom: 50px;" align="center" id="white" class="white">
    <div class="row" style = "margin-top: 70px;"align="center">

  <div class="wrapper">
  	<div class="main">
    	<div class="section section-nude">
        <div class="container">
          <div class="col-md-8 col-sm-7">
            <!-- post_write -->
					  <form action="/board/create" method="post" enctype="multipart/form-data">
            <div class="form-group">
              <h5>What's on your mind? <span class="required">*</span></h5>
              <textarea name="content" class="form-control textarea-limited border-input" placeholder="This is a textarea limited to 300 characters." rows="10", data-limit="300" ></textarea>
              <h5><small><span id="textarea-limited-message" class="pull-right">300 characters left</span></small></h5>

									<!-- 내용입력안했을시 -->
					        <% if flash[:notice] %>
					        <div class="notice"><%= flash[:notice] %></div>
					        <%end%>
						</div>
      			<div class="row buttons-row">
                <div class="col-md-4 col-sm-4">
                <button type="submit" class="btn btn-primary btn-fill btn-block">Save & Publish </button>
                </div>
      			</div>
        		</form>
            <!-- /.post_write --

						<!-- board -->
	          <div class="wrapper demo-wrapper">
	          	<div class="main">
	            	<div class="section section-nude">
	              	<div class="container tim-container">


                    <!-- post_card -->
										<div class="group">
						        	<div class="col-md-4 col-sm-6">
                        <% @post.each do |post| %>
						          	<div class="card-big-shadow">
                          <div class="card" data-radius="none">
						              	<div class="content">
		                        	<p class="description"><%= post.content %></p>
		                        	<h6 class="category"><%= post.created_at %></h6>
		                    		</div>
	                    			<div id="comment_<%= post.id %>">
	                    			<% post.comments.each do |c| %>
	                        	<%= c.content %></br>
	                        	<% end %>
	                    			</div>
	                				</div>
	            					</div>

										    <!-- comment_write -->
    										<div class="form-group">
    						        	<textarea id="content_<%=post.id%>" type="text" name="content" class="form-control" row="1" placeholder="댓글"></textarea>
    											<button value="<%=post.id %>" type="submit" class="btn btn-default comment_submit">댓글등록</button>
    							    		<% end %>
                        </div>
                      </div>
                    </div>
                  </div>
	        			</div>
	    			  </div>
	  				</div>
			    </div>
				</div>
			</div>
	  </div>
	</div>
	<!-- div 뭐가뭔지... -->
</html>

<!-- comment ajax script-->
<script>
$(function() {
  $(".comment_submit").click(function(){

    post_id = this.value;
    post_content = $("#content_" + post_id).val();

    $.ajax({
      method: "POST",
      url: "/board/"+post_id+"/comment_create",
      data: {    content: post_content,
              id_of_post: post_id },
		  dataType: "text",
      success: function(){
        $( "#comment_" + post_id ).append( "<p>" + post_content + "</p>");
        $("#content_" + post_id).val('');
      },
			error:function(msg){
        alert("댓글이 작성되지 않았습니다.");
      }
    })
  });
});
</script>
</div>
</div>
<div class ="container" style="align: center">
<div data-role="footer" data-position="fixed" data-inset="true" class="footer">
   <%= link_to image_tag('first.png') %> <%= link_to image_tag('second.png') %> <%= link_to image_tag('th.png') %> <%= link_to image_tag('ff.png') %> <%= link_to image_tag('five.png') %>
</div>
</div>
</body>
