<!doctype html>
<html lang="en">

<body class="add-product">

  <!-- Navigation -->
  <nav class="navbar navbar-ct-primary" role="navigation-demo">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Squall</a>
        </div>
    <!--<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">-->
    <!--    <div class="container">-->
            <!-- Brand and toggle get grouped for better mobile display -->
    <!--        <div class="navbar-header">-->
    <!--            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">-->
    <!--                <span class="sr-only">Toggle navigation</span>-->
    <!--                <span class="icon-bar"></span>-->
    <!--                <span class="icon-bar"></span>-->
    <!--                <span class="icon-bar"></span>-->
    <!--            </button>-->
    <!--            <a class="navbar-brand" href="#">Squall</a>-->
    <!--        </div>-->
            <!-- Collect the nav links, forms, and other content for toggling -->
             <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navigation-example-2">
          <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="/search">Search</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                    <li>
                        <a href="/users/sign_out">log_out</a>
                    </li>
                </ul>
        </div>
            <!-- /.navbar-collapse -->
    </div>
        <!-- /.container -->
  </nav>

  <div class="wrapper">
  	<div class="main">
    	<div class="section section-nude">
        <div class="container">
          <div class="col-md-8 col-sm-7">
            <div class="notice">
              <% if flash[:notice] %>
              <%= flash[:notice] %><%end%>
            </div>
            <!-- post_write -->
					  <form action="/board/create" method="post" enctype="multipart/form-data" onsubmit="return check()" name="fr">
            <div class="form-group">
              <h5>What's on your mind? <span class="required">*</span></h5>
              <div id="map" style="width:100%;height:400px;"></div>

              <textarea name="content" class="form-control textarea-limited border-input" placeholder="This is a textarea limited to 300 characters." rows="10", data-limit="300" ></textarea>

                <small><h5><span id="textarea-limited-message" class="pull-right">300 characters left</span></h5></small>
                <div>
                  <label style="cursor:pointer" for="upload-photo">Photo...</label>
                  <input type="file" name="pic" id="upload-photo" accept="image/*" class="hidden" onchange="loadFile(event)"/>
                </div>
                <img id="output" />
                <script>
                  var loadFile = function(event) {
                  var output = document.getElementById('output');
                  output.src = URL.createObjectURL(event.target.files[0]);
                  };
                </script>
              <!-- <input type="file" name="pic" accept="image/*"> -->
            </div>
      			<div class="row buttons-row">
                <div class="col-md-4 col-sm-4">

                <button type="submit" class="btn btn-primary btn-fill btn-block">Save & Publish </button>
                </div>
      			</div>
        		</form>
            <!-- /.post_write -->

						<!-- board -->
	          <div class="wrapper demo-wrapper">
	          	<div class="main">
	            	<div class="section section-nude">
	              	<div class="container tim-container">
	                	<div class="tim-title">
	                  	<h2>What is goin on now!</h2>
	                  </div>

                    <!-- post_card -->
										<div class="group">
						        	<div class="col-md-4 col-sm-6">
                        <% @post.each do |p| %>
						          	<div class="card-big-shadow">
                          <div class="card" data-radius="none">
						              	<div class="content">
		                        	<p class="description"><%= p.content %></p>
                              <!-- <% unless p.image_url.nil? %> -->

                              <img src="<%= p.image_url %>">
                              <!-- <% end %> -->
		                        	<h6 class="category"><%= p.created_at %></h6>
		                    		</div>

                            <button data-toggle="collapse" data-target="#comment_<%= p.id %>">Collapsible</button>
                            <div id="comment_<%= p.id %>" class="collapse">
                                    <% p.comments.each do |c| %>
                                    <%= c.content %>
                                    <% end %>
                            </div>

	                    			<!-- <div id="comment_<%= p.id %>">
	                    			<% p.comments.each do |c| %>
	                        	<%= c.content %></br>
	                        	<% end %>
	                    			</div> -->
	                				</div>
	            					</div>

										    <!-- comment_write -->
    										<div class="form-group">
    						        	<textarea id="content_<%=p.id%>" type="text" name="content" class="form-control" row="1" placeholder="댓글"></textarea>
    											<button value="<%=p.id %>" type="submit" class="btn btn-default comment_submit">댓글등록</button>
    							    		<% end %>
                        </div>
                      </div>
                    </div>
                  </div>
	        			</div>
	    			  </div>
	  				</div>
			    </div>
				</div>
			</div>
	  </div>
	</div>
	<!-- div 뭐가뭔지... -->
</html>

<!-- comment ajax script-->
<script>
$(function() {
  $(".comment_submit").click(function(){

    post_id = this.value;
    post_content = $("#content_" + post_id).val();

    $.ajax({
      method: "POST",
      url: "/board/"+post_id+"/comment_create",
      data: {    content: post_content,
              id_of_post: post_id },
		  dataType: "text",
      success: function(){
        $( "#comment_" + post_id ).append( "<p>" + post_content + "</p>");
        $("#content_" + post_id).val('');
      },
			error:function(msg){
        alert("댓글이 작성되지 않았습니다.");
      }
    })
  });
});
</script>

<script>
function getDistanceFromLatLonInKm(lat1,lng1,lat2,lng2) {
    function deg2rad(deg) {
        return deg * (Math.PI/180)
    }

    var R = 6371; // Radius of the earth in km
    var dLat = deg2rad(lat2-lat1);  // deg2rad below
    var dLon = deg2rad(lng2-lng1);
    var a = Math.sin(dLat/2) * Math.sin(dLat/2) + Math.cos(deg2rad(lat1)) * Math.cos(deg2rad(lat2)) * Math.sin(dLon/2) * Math.sin(dLon/2);
    var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a));
    var d = R * c; // Distance in km
    return d;
}
var distance = -1;



var map = new naver.maps.Map('map', {
    center: new naver.maps.LatLng(37.5666805, 126.9784147),
    zoom: 5,
    mapTypeId: naver.maps.MapTypeId.NORMAL
});

var infowindow = new naver.maps.InfoWindow();

function onSuccessGeolocation(position) {
    var location = new naver.maps.LatLng(position.coords.latitude,
                                         position.coords.longitude);

    map.setCenter(location); // 얻은 좌표를 지도의 중심으로 설정합니다.
    map.setZoom(10); // 지도의 줌 레벨을 변경합니다.

    infowindow.setContent('<div style="padding:20px;">' +
        'latitude: '+ location.lat() +'<br />' +
        'longitude: '+ location.lng() +'</div>');

    distance = getDistanceFromLatLonInKm(37.516364, 127.075958, position.coords.latitude, position.coords.longitude);

    infowindow.open(map, location);
}

function onErrorGeolocation() {
    var center = map.getCenter();

    infowindow.setContent('<div style="padding:20px;">' +
        '<h5 style="margin-bottom:5px;color:#f00;">Geolocation failed!</h5>'+ "latitude: "+ center.lat() +"<br />longitude: "+ center.lng() +'</div>');

    infowindow.open(map, center);
}

$(window).on("load", function() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(onSuccessGeolocation, onErrorGeolocation);
    } else {
        var center = map.getCenter();

        infowindow.setContent('<div style="padding:20px;"><h5 style="margin-bottom:5px;color:#f00;">Geolocation not supported</h5>'+ "latitude: "+ center.lat() +"<br />longitude: "+ center.lng() +'</div>');
        infowindow.open(map, center);
    }
});

var map = new naver.maps.Map('map', {
    center: new naver.maps.LatLng(37.516364, 127.075958),
    zoom: 10
});

var marker = new naver.maps.Marker({
    position: new naver.maps.LatLng(37.516364, 127.075958),
    map: map,
    <!-- 이미지 마커 삽입 -->
    icon: {
    	url: 'http://postfiles8.naver.net/20160825_295/yeeun316_1472119036970qd46J_PNG/likelion.png?type=w1',
	size: new naver.maps.Size(46, 100),
	scaledSize: new naver.maps.Size(46, 100)
    }
});


var circle = new naver.maps.Circle({
    map: map,
    center: GREEN_FACTORY,
    radius: 500,
    strokeColor: 'yellowgreen',
    strokeOpacity: 1,
    strokeWeight: 3,
    fillColor: 'yellowgreen',
    fillOpacity: 0.3
});


function check() {
    if(fr.content.value == "") {
        alert("내용을 입력해 주세요.");
        fr.content.focus();
        return false;
  }
    else if(distance < 0){
        alert("지금 어디있어?");
        where.focus();
        return false;
  }
    else if(distance > 1){
        alert("너무 멀어");
         return false;
  }
    else
      return true;
}

$(document).on('click','.collapse.in',function(e) {
    if( $(e.target).is('a') && $(e.target).attr('class') != 'dropdown-toggle' ) {
        $(this).collapse('hide');
    }
});

</script>
