<!doctype html>
<html lang="en">

<body class="add-product">

  <!-- Navigation -->
  <nav class="navbar navbar-ct-primary" role="navigation-demo">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Squall</a>
        </div>
    <!--<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">-->
    <!--    <div class="container">-->
            <!-- Brand and toggle get grouped for better mobile display -->
    <!--        <div class="navbar-header">-->
    <!--            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">-->
    <!--                <span class="sr-only">Toggle navigation</span>-->
    <!--                <span class="icon-bar"></span>-->
    <!--                <span class="icon-bar"></span>-->
    <!--                <span class="icon-bar"></span>-->
    <!--            </button>-->
    <!--            <a class="navbar-brand" href="#">Squall</a>-->
    <!--        </div>-->
            <!-- Collect the nav links, forms, and other content for toggling -->
             <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navigation-example-2">
          <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="/search">Search</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                    <li>
                        <a href="/users/sign_out">log_out</a>
                    </li>
                </ul>
        </div>
            <!-- /.navbar-collapse -->
    </div>
        <!-- /.container -->
  </nav>

  <div class="wrapper">
  	<div class="main">
    	<div class="section section-nude">
        <div class="container">
          <div class="col-md-8 col-sm-7">
            <div class="notice">
              <% if flash[:notice] %>
              <%= flash[:notice] %><%end%>
            </div>
            <!-- post_write -->
					  <form action="/board/create" method="post" enctype="multipart/form-data">
            <div class="form-group">
              <h5>What's on your mind? <span class="required">*</span></h5>
              <textarea name="content" class="form-control textarea-limited border-input" placeholder="This is a textarea limited to 300 characters." rows="10", data-limit="300" ></textarea>
              <h5><small><span id="textarea-limited-message" class="pull-right">300 characters left</span></small></h5>
              <input type="file" name="pic" accept="image/*">
            </div>
      			<div class="row buttons-row">
                <div class="col-md-4 col-sm-4">
                <button type="submit" class="btn btn-primary btn-fill btn-block">Save & Publish </button>
                </div>
      			</div>
        		</form>
            <!-- /.post_write -->

						<!-- board -->
	          <div class="wrapper demo-wrapper">
	          	<div class="main">
	            	<div class="section section-nude">
	              	<div class="container tim-container">
	                	<div class="tim-title">
	                  	<h2>What is goin on now!</h2>
	                  </div>

                    <!-- post_card -->
										<div class="group">
						        	<div class="col-md-4 col-sm-6">
                        <% @post.each do |p| %>
						          	<div class="card-big-shadow">
                          <div class="card" data-radius="none">
						              	<div class="content">
		                        	<p class="description"><%= p.content %></p>

                              <% unless p.image_url.nil? %>
                              <img src="<%= p.image_url %>">
                              <% end %>

                              <h6 class="category"><%= p.created_at %></h6>
		                    		</div>
	                    			<div id="comment_<%= p.id %>">
	                    			<% p.comments.each do |c| %>
	                        	<%= c.content %></br>
	                        	<% end %>
	                    			</div>
	                				</div>
	            					</div>

										    <!-- comment_write -->
    										<div class="form-group">
    						        	<textarea id="content_<%=p.id%>" type="text" name="content" class="form-control" row="1" placeholder="댓글"></textarea>
    											<button value="<%=p.id %>" type="submit" class="btn btn-default comment_submit">댓글등록</button>
    							    		<% end %>
                        </div>
                      </div>
                    </div>
                  </div>
	        			</div>
	    			  </div>
	  				</div>
			    </div>
				</div>
			</div>
	  </div>
	</div>
	<!-- div 뭐가뭔지... -->
</html>

<!-- comment ajax script-->
<script>
$(function() {
  $(".comment_submit").click(function(){

    post_id = this.value;
    post_content = $("#content_" + post_id).val();

    $.ajax({
      method: "POST",
      url: "/board/"+post_id+"/comment_create",
      data: {    content: post_content,
              id_of_post: post_id },
		  dataType: "text",
      success: function(){
        $( "#comment_" + post_id ).append( "<p>" + post_content + "</p>");
        $("#content_" + post_id).val('');
      },
			error:function(msg){
        alert("댓글이 작성되지 않았습니다.");
      }
    })
  });
});
</script>
