<!doctype html>
<html lang="en">

<body class="add-product">

  <!-- Navigation -->
  <nav class="navbar navbar-ct-primary" role="navigation-demo">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Squall</a>
        </div>
    <!--<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">-->
    <!--    <div class="container">-->
            <!-- Brand and toggle get grouped for better mobile display -->
    <!--        <div class="navbar-header">-->
    <!--            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">-->
    <!--                <span class="sr-only">Toggle navigation</span>-->
    <!--                <span class="icon-bar"></span>-->
    <!--                <span class="icon-bar"></span>-->
    <!--                <span class="icon-bar"></span>-->
    <!--            </button>-->
    <!--            <a class="navbar-brand" href="#">Squall</a>-->
    <!--        </div>-->
            <!-- Collect the nav links, forms, and other content for toggling -->
             <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navigation-example-2">
          <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="/search">Search</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                    <li>
                        <a href="/users/sign_out">log_out</a>
                    </li>
                </ul>
        </div>
            <!-- /.navbar-collapse -->
    </div>
        <!-- /.container -->
  </nav>

  <div class="wrapper demo-wrapper">
          <div class="section section-nude-gray">
              <div class="container container-tim">

                <!-- post_write -->
     <form action="/board/create" method="post" enctype="multipart/form-data">
      <div class="section section-nude">
          <div class="container tim-container">
              <div class="row">
                  <div class="col-md-8 col-md-offset-2">
                        <h3 class="text-center">What's on your mind? <span class="required">*</span></h3>
                        <div class="media media-post">
                            <a class="pull-left author" href="#">
                                <div class="avatar">
                                      <img class="media-object" alt="64x64" src="assets/img/banks.jpg">
                                </div>
                            </a>
                            <div class="media-body">
                                  <textarea name="content" class="form-control textarea-limited border-input" placeholder="Write some nice stuff or nothing..." rows="6" data-limit="300"></textarea>
                                    <h5><small><span id="textarea-limited-message" class="pull-right">300 characters left</span></small></h5>

                                    <!-- 내용입력안했을시 -->
                                    <% if flash[:notice] %>
                                    <div class="notice"><%= flash[:notice] %></div>
                                    <%end%>

                                   <div class="media-footer">
                                         <button type="submit" class="btn btn-info btn-fill btn-wd pull-right">Post</button>
                                   </div>
                            </div>
                        </div> <!-- end media-post -->
                  </div>
              </div> <!-- end row -->
          </div>
       </div>
    </form>
            <!-- /.post_write -->

						<!-- board -->
	          <div class="wrapper demo-wrapper">
	          	<div class="main">
	            	<div class="section section-nude">
	              	<div class="container tim-container">

                    <div class="tim-title">
                    </div>
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <div class="media-area">
                                    <h3> What is goin on now!</h3>

                                   <% @post.each do |post| %>
                                    <div class="media">
                                          <a class="pull-left" href="#">
                                           <div class="avatar">
                                                <img class="media-object" src="assets/img/new_logo.png" alt="..."/>
                                           </div>
                                          </a>
                                          <div class="media-body">
                                            <!-- <h5 class="media-heading">제목????</h5> -->
                                            <div class="pull-right">
                                                <h6 class="text-muted"><%= post.created_at %></h6>
                                                <!-- <a href="#" class="btn btn-info btn-simple pull-right "> <i class="fa fa-reply"></i> Reply</a> -->
                                            </div>
                                            <p><%= post.content %></p>
                                          </div>
                                        </div>
                                        <!-- 좋아요관련 -->
                                          <!-- <div class="media-footer">
                                              <a href="#" class="btn btn-danger btn-simple">
                                                   <i class="ti-heart"></i> 243
                                              </a>
                                              <a href="#" class="btn btn-simple">
                                                   <i class="ti-heart-broken"></i> 2
                                              </a>
                                              <a href="#" class="btn btn-simple">
                                                   Follow &middot; 3
                                              </a>
                                          </div> -->


                        <div class="media">

                            <div class="media-body">
                                <div class="pull-center">
	                    		    	<div id="comment_<%= post.id %>">
	                    		    	<% post.comments.each do |c| %>
                                <a class="pull-left" href="#">
                                    <div class="avatar">
                                    <img class="media-object" alt="64x64" src="assets/img/chet_faker_2.jpg">
                                    </div>
                                </a>
	                            	<%= c.content %>
	                            	<% end %>
	                    		    	</div>
	                				     </div>
                        </div>
                      </div>


										    <!-- comment_write -->
    										<div class="form-group">
    						        	<textarea id="content_<%=post.id%>" type="text" name="content" class="form-control" row="1" placeholder="댓글"></textarea>
    											<button value="<%=post.id %>" type="submit" class="btn btn-default comment_submit">댓글등록</button>
    							    		<% end %>
                        </div>
                      </div>
                    </div>
                  </div>
	        			</div>
	    			  </div>
	  				</div>
			    </div>
				</div>
			</div>
	  </div>
	</div>
	<!-- div 뭐가뭔지... -->
</html>

<!-- comment ajax script-->
<script>
$(function() {
  $(".comment_submit").click(function(){

    post_id = this.value;
    post_content = $("#content_" + post_id).val();

    $.ajax({
      method: "POST",
      url: "/board/"+post_id+"/comment_create",
      data: {    content: post_content,
              id_of_post: post_id },
		  dataType: "text",
      success: function(){
        $( "#comment_" + post_id ).append( "<p>" + post_content + "</p>");
        $("#content_" + post_id).val('');
      },
			error:function(msg){
        alert("댓글이 작성되지 않았습니다.");
      }
    })
  });
});
</script>
