<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>간단한 지도 표시하기</title>
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?clientId=WTuie0gSBLo6QOTObNIW"></script>
</head>
<body>
<div id="map" style="width:100%;height:400px;"></div>

 <div class="container" background>
 
 <button name="where" onclick="findme()">Try It</button>
    
 <form action="/board/create" method="POST" style="margin_top:20px" name="fr" onsubmit="return check()">

 <div class="form-group">

 <label for="exampleInputEmail1">제목</label>

 <input type="text" name="title" class="form-control" placeholder="제목">

 </div>

 <div class="form-group">

 <label for="exampleInputPassword1">내용</label>

 <textarea class="form-control" name="content"></textarea>

 </div>

 <button type="submit" class="btn btn-default">Submit</button>
    
 </form>
    
    <div class="container" >
     <% @post.each do |post| %>
         <%= post.title %></br>
         <%= post.content %></br>
         <%= post.created_at %></br>
        
         
        <button data-toggle="collapse" data-target="#demo<%= post.id %>">Collapsible</button>
        
        <div id="demo<%= post.id %>" class="collapse">
             <% post.comments.each do |c| %>
                <%= c.content %>         
             <% end %>
        </div>
         
         <form action="/board/<%= post.id %>/comment_create" method="POST" >
             <div class="form-group">
                 <input type="text" name="content" class="form-control" placeholder="제목">
             </div>
             
             <button type="submit" class="btn btn-default">Submit</button>
         </form>
         
         <hr>
      <% end %>
        
    </div>
</div>


<script>
var map = new naver.maps.Map('map', {
    center: new naver.maps.LatLng(37.5666805, 126.9784147),
    zoom: 5,
    mapTypeId: naver.maps.MapTypeId.NORMAL
});

var infowindow = new naver.maps.InfoWindow();

function onSuccessGeolocation(position) {
    var location = new naver.maps.LatLng(position.coords.latitude,
                                         position.coords.longitude);

    map.setCenter(location); // 얻은 좌표를 지도의 중심으로 설정합니다.
    map.setZoom(10); // 지도의 줌 레벨을 변경합니다.

    infowindow.setContent('<div style="padding:20px;">' +
        'latitude: '+ location.lat() +'<br />' +
        'longitude: '+ location.lng() +'</div>');

    infowindow.open(map, location);
}

function onErrorGeolocation() {
    var center = map.getCenter();

    infowindow.setContent('<div style="padding:20px;">' +
        '<h5 style="margin-bottom:5px;color:#f00;">Geolocation failed!</h5>'+ "latitude: "+ center.lat() +"<br />longitude: "+ center.lng() +'</div>');

    infowindow.open(map, center);
}

$(window).on("load", function() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(onSuccessGeolocation, onErrorGeolocation);
    } else {
        var center = map.getCenter();

        infowindow.setContent('<div style="padding:20px;"><h5 style="margin-bottom:5px;color:#f00;">Geolocation not supported</h5>'+ "latitude: "+ center.lat() +"<br />longitude: "+ center.lng() +'</div>');
        infowindow.open(map, center);
    }
});

var map = new naver.maps.Map('map', {
    center: new naver.maps.LatLng(37.516364, 127.075958),
    zoom: 10
});

var marker = new naver.maps.Marker({
    position: new naver.maps.LatLng(37.516364, 127.075958),
    map: map
});


var circle = new naver.maps.Circle({
    map: map,
    center: GREEN_FACTORY,
    radius: 500,
    strokeColor: 'yellowgreen',
    strokeOpacity: 1,
    strokeWeight: 3,
    fillColor: 'yellowgreen',
    fillOpacity: 0.3
});


function check() {
    if(fr.title.value == "") {
        alert("제목을 입력해 주세요.");
        fr.title.focus();
        return false;
  }

    else if(fr.content.value == "") {
        alert("내용을 입력해 주세요.");
        fr.content.focus();
        return false;
  }
    else if(distance < 0){
        alert("지금 어디있어?");
        where.focus();
        return false;
  }
    else if(distance > 1){
        alert("너무 멀어");
         return false;
  }
    else 
      return true;
}

</script>
</body>
</html>
