
<div style="container;margin-bottom:50px;" align="center">
  <div class="row" style = "margin-top: 20px;"align="center">

    <div class="col-xs-3 col-sm-2"></div>
    <div class="col-xs-12 col-sm-8">
    <%= image_tag "logo.gif"%>
    </div>
    <div class="col-xs-3 col-sm-2"></div>
  </div>

  <div class="row">

    <div class="col-xs-2 col-sm-2"></div>
     <div class="col-xs-8 col-sm-8">
      <h3>Log in</h3>
      <p><%= link_to "페이스북으로 로그인", user_facebook_omniauth_authorize_path %></p>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true %>
        </div>
       <br>
        <div class="field" >
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>
       <br>
        <% if devise_mapping.rememberable? -%>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end -%>
        <div class="actions">
          <%= f.submit "Log in" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
    <div class="col-xs-2 col-sm-2"></div>
  </div>
</div>
